+++
title = "げっとシステム"
linkTitle = "GETTO.systems"

+++

{{< blocks/cover title="げっとシステム : Tools" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
  <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
    ドキュメント <i class="fas fa-arrow-alt-circle-right ml-2"></i>
  </a>
  <a class="btn btn-lg btn-dark mr-3 mb-4" href="{{< relref "/blog" >}}">
    ノート <i class="fas fa-arrow-alt-circle-right ml-2 "></i>
  </a>
  <p class="lead mt-5">Fit the System to Your Works</p>
  <div class="mx-auto mt-5">
    {{< blocks/link-down color="info" >}}
  </div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
システム開発用ツール群の開発を行なっています

開発用コンテナイメージ、通知用 AWS Lambda、Admin CSS など
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-cubes" title="開発用コンテナイメージ" url="/docs/containers" %}}
nvim の入った shell コンテナ、各プロジェクト用のベースコンテナなど
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-bell" title="通知用 AWS Lambda" url="/docs/psycher" %}}
Slack Bot からのリリース、Docker Hub でのビルド完了など

いろいろな通知を受け取るエンドポイント
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-palette" title="Admin CSS" url="/docs/css" %}}
シンプルな管理画面用 CSS テーマ
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">ブログ、GitHub アカウント</h1>
</div>
{{< /blocks/section >}}

{{< blocks/section >}}

{{% blocks/feature icon="fas fa-pen-fancy" title="げっとシステムログ" url="https://www.getto.systems/" %}}
技術的な記事などをはてなブログにまとめています
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/getto-systems" %}}
ソースコードは **GitHub** に置いてあります
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col-12">
</div>
{{< /blocks/section >}}
